@font-face {
    font-family: 'Arvo';
    src: url(/ressources/polices/Arvo/Arvo-Bold.ttf);
}
@font-face {
    font-family: 'Source 300';
    src: url(/ressources/polices/Source_Sans_Pro/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: 'Source 400';
    src: url(/ressources/polices/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'Source 600';
    src: url(/ressources/polices/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}