@import 'all.min.css';
@import 'fonts.css';

*,
::before,
::after{
    box-sizing: border-box;
}

/* Couleurs charte

Couleurs:
- Fond clair: #FFFFFF
- Fond gris: #F0F0F0
- Fond sombre: #444444
- Orange: #ED786A
- Orange:hover: #FD887A
- Rouge: #CC0000
- Gris léger: #E5E5E5
- Blanc: #FFFFFF
- Gris clair: #888888
- Gris moyen: #777777
- Gris: #666666
- Gris sombre: #3C3C3C

*/


/* Général */


@media screen and (max-width: 992px) {

    header{
        position: relative;
    }

    header h1{
        margin-top: 0;
        padding-top: 2rem;
    }

    #nav-Bar{
        position: absolute;
        left: -12rem;
        top: -1rem;
    }

    #menu-bar ul{
        border: black solid 1px;
    }

    #menu-bar li {
        display:flex;
        padding: 1rem;
        list-style: none;
        background-color: #3c3c3c;
        border-bottom: black solid 1px;
        opacity: 0.9;
    }

    #menu-bar{
        padding-left: 0;
    }

    #menu-bar li i {
        display: none;
    }

    #menu-bar li a{
        font-size: 1rem;
        font-family: 'source 600';
        text-decoration: none;
        color: white;
    } 

    #menu-bar.show{
        left: -3rem;
        top: 1px;
        padding: 0;
        margin: 0;
    }

    #nav-Bar.hide{
        position: absolute;
    }

    #nav-Bar.show{
        position: absolute;
        left: -3rem;
    }

    .parent{
        display:flex;
    }

    .sousmenu{
        display: flex;
        flex-direction: column;
    }

    .hov p:hover{
        color: #ED786A;
    }

}

form input{
    margin-bottom: 0;
}

form p{
    padding-bottom: 2rem;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3px;
    color: red;
    font-family: 'Source 300';
}

#nav-Btn{
    width: 5rem;
    height: 2.5rem;
    border: #e5e5e5 1px solid;
    border-radius: 0.5rem;
    font-family: 'Source 600';
    font-size: 1.5rem;
    box-shadow: #888888 2px 2px 3px ;
    background-color: #F0F0F0;
    position: absolute;
    left: 9rem ;
    top: 1rem;
}

#nav-Btn:hover{
    opacity:0.9 ;
}

#nav-Btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    padding: 0;
}


.surligna{
    text-decoration: none;
}

.nosurligna{
    text-decoration-color: #E5E5E5;
}

header h1{
    text-align: center;
    font-family: 'Arvo';
    font-size: xxx-large;
    color: #ED786A;
    text-shadow: 5px 5px #E5E5E5;
}

header h2{
    font-family: 'Source 400';
    color: #888888;
    text-align: center;
}

button i{
    padding-right: 1rem;
    color: white;
}

button{
    width: 100%;
    height: 5rem;
    border: #e5e5e5 1px solid;
    border-radius: 0.5rem;
    font-family: 'Source 600';
    font-size: 1.5rem;
    color: white;
    background-color: #ED786A;
    box-shadow: #E5E5E5 2px 2px 3px ;
}

button:hover{
    opacity:0.6;
}


/* Mobile */ 

    body{
        margin: 0;
    }

    .first-section,
    .second-section,
    .third-section,
    .fourth-section{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    header {
        margin-left: 3rem;
        margin-right: 3rem;
        border-bottom: #e5e5e5 3px solid;
    }

    .first-mq{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-section{
        border-top:  #e5e5e5 3px solid;
        margin-top: 0.5rem;
    }

    .first-section h2{
        font-size: 2rem;
        font-family: 'Source 400';
        color: #888888;
        text-align: center;
    }

    .first-section h2 b{
        color: #3c3c3c;
    }

    .first-section article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-section article img{
        margin: 0;
        width: 100%;
        border: #e5e5e5 10px solid;
    }

    .first-section article h3{
        font-family: 'Source 400';
        font-size: 2rem;
        text-align: center;
        color : #888888
    }

    .first-section article p{
        display: flex;
        font-family: 'Source 300';
        font-size: 1.5rem;
        text-align: center;
        color : #888888;
        line-height: 2.5rem;
        
    }

    .first-section div{
        display: flex;
        align-items: center;
        justify-content: center;
    }




    
    /* Section de transistion (banniere) */

    .trans-section div{
        border-top: #e5e5e5 3px solid;
        border-bottom: #e5e5e5 3px solid;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .trans-section div img{
        height: 20rem;
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .trans-section div blockquote{
        font-family: 'Source 400';
        font-size: 1.5rem;
        text-align: center;
        color : white;
        line-height: 3rem;
        height: 20rem;
        margin: 0;
        padding-top: 5rem;
    }


    /* Deuxième section */

    .second-section h2{
        font-size: 2rem;
        font-family: 'Source 300';
        color: #888888;
        text-align: center;
    }

    .second-section .art-ssection img{
        width: 100%;
        border: #e5e5e5 10px solid;
    }

    .art-ssection h3{
        font-family: 'Source 400';
        font-size: 2rem;
        text-align: center;
        color : #888888
    }

    .art-ssection p{
        display: flex;
        font-family: 'Source 300';
        font-size: 1.5rem;
        text-align: center;
        color : #888888;
        line-height: 2.5rem;
        
    }


    .second-section div{
        border-bottom: #E5E5E5 3px solid;
        padding-bottom: 4rem;
    }

    #title-border{
        border-top: #E5E5E5 3px solid;
        padding-bottom: 5rem;
        margin-top: 10px;
        padding-top: 3rem;
        padding-bottom: 2rem;
        
    }

    #last-btn{  
        border-bottom: none;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    /* Troisieme section */

    .third-section article{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mini-btn{
        text-align: center;
        background-color: #777;
        border: #e5e5e5 1px solid;
        border-radius: 5px;
        box-shadow: #e5e5e5 2px 2px 2px;
        color: white;
        font-family: 'Source 600';
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 10rem;
    }


    .art-tsection h3{
        font-family: 'Source 400';
        font-size: 2rem;
        text-align: center;
        color : #888888;
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .art-tsection p{
        display: flex;
        font-family: 'Source 300';
        font-size: 1.2rem;
        text-align: center;
        color : #888888;
        line-height: 2.5rem;
        
    }

    .art-tsection{
        border-bottom: #E5E5E5 3px solid;
        padding-top: 3rem;
    }

    /* Quatrieme section */

    .fourth-section{
        margin-top: 10px;
        padding-top: 2.5rem;
        border-top: #E5E5E5 3px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fourth-section h2{
        margin-bottom: 4rem;
        font-size: 2rem;
        font-family: 'Source 400';
        color: #888888;
        text-align: center;
    }

    .art-fsection{
        width: 100%;
    }


    .art-fsection img{
        border: #E5E5E5 10px solid;
        margin-right: 1.5rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .art-fsection div{
        display: flex;
        margin-bottom: 3rem;
    }

    .art-fsection div p{
        font-family: 'Source 300';
        font-size: 1.5rem;
        color: #888888;
        margin: 0;
        padding: 0;
    }

    /* Footer */

    footer{
        border-top: #E5E5E5 3px solid;
        background-color: #F0F0F0;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    footer h2{
        font-size: 2rem;
        font-family: 'Source 300';
        color: #888888;
        text-align: center;
        padding-top: 5rem;
    }

    footer h2 b{
        font-family: 'Source 400';
    }

    footer form{
        display: flex;
        flex-direction: column;
    }

    footer form input{
        border-top: #E5E5E5 3px solid;
        border-left: #E5E5E5 3px solid;
        border-bottom: #E5E5E5;
        border-right: #E5E5E5;
        border-radius: 5px;
        height: 4rem;
        margin-bottom: 0rem;
        font-size: 1.5rem;
        font-family: 'Source 300';
        width: 100%;
    }

    footer form textarea{
        border-top: #E5E5E5 3px solid;
        border-left: #E5E5E5 3px solid;
        border-bottom: #E5E5E5;
        border-right: #E5E5E5;
        border-radius: 5px;
        margin-bottom: 0rem;
        font-size: 1.5rem;
        font-family: 'Source 300';
    }

    .footer-elmts p{
        font-family: 'Source 300';
        font-size: 1.5rem;
        color: #888888;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .social-info{
        display:flex;
        align-items: flex-start;
        gap: 2rem;
        padding-bottom: 4rem;
    }

    .social-info-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border: 1px solid #888888;
        border-radius: 25px;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #888888;
        box-shadow: 1px 1px 4px #888888;
    }

    .social-info-icon i{
        color: white;
        font-size: x-large;
    }

    .social-info-text p{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .end-footer{
        border-top: #e5e5e5 3px solid;
        padding-top: 3rem;
    }


    .end-footer p{
        font-family: 'Source 300';
        font-size: 1.5rem;
        color: #888888;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .end-footer p span{
        text-decoration: underline;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        
        .first-section article img{
            border: #E5E5E5 5px solid;
        }

        .trans-section div blockquote{
            font-size: 2rem;
        }

        .first-section h2{
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }

        header{
            padding-bottom: 5rem;
        }

        .first-section{
            padding-top: 5rem;
        }

        button{
            width: 17rem;
            height: 3rem;
            font-size: smaller;
        }
        
        .first-mq{
            display: flex;
            flex-direction: row;
            gap: 5rem;
            margin-bottom: 10rem;
        }

        .first-mq article h3{
            font-size: small;
        }
        
        .first-mq article p{
            font-size: x-small;
            line-height: normal;
        }

        #title-border{
            margin-top: -25px;
        }

        .big-mq{
            display: flex;
        }

        .big-mq p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .big-mq h3{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .big-mq h2{
            text-align: start;
            font-size: 1.5rem;
            line-height: normal;
        }

        .art-tsection{
            padding-top: 1rem;
        }

        .art-ssection{
            margin-bottom: 2rem;
        }

        .art-fsection div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }

        .art-fsection div p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .art-fsection h2{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            margin: 0rem;
        }

        .art-fsection img{
            border: #E5E5E5 5px solid;
            width: 90%;
        }

        .second-section .art-ssection img{
            border: #E5E5E5 5px solid;
        }

        .third-mq p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .third-mq h2{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            padding-bottom: 1rem;
        }

        .third-mq h3{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .art-tsection{
            padding-top: 2rem;
        }

        .global-footer-mq{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        .footer-elmts p{
            padding-top: 0;
        }

        #form-flex{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        
        .footer-elmtn-global-mq{
            display: flex;
        }

        .social-info{
            gap: 1rem;
        }

        .social-info p{
            font-size: 1rem;
        }

        .social-info-icon i{
            font-size: small;
        }

        .social-info-icon{
            width: 1.5rem;
            height: 1.5rem;
        }

        footer form input{
            height: auto;
            font-size: 1rem;
        }

        footer form textarea{
            font-size: 1rem;
            width: 100%;
        }

        footer h2 br{
            display: none;
        }

        .footer-elmts p{
            font-size: 1rem;
        }

        footer h2{
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }

        .end-footer{
            padding-bottom: 3rem;
        }

        .end-footer p{
            font-size: 1rem;
        }

    }


    @media screen and (min-width: 992px){
        
        header,
        .first-section,
        .big-mq
        {
            margin-left: 10%;
            margin-right: 10%;
        }
        
                
        .first-section article img{
            border: #E5E5E5 5px solid;
        }

        .trans-section div blockquote{
            font-size: 2rem;
        }
        .trans-section div blockquote{
            font-size: 2rem;
        }

        .trans-section div{
            width: 100%;
        }

        .first-section h2{
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }

        header{
            padding-bottom: 5rem;
        }

        .first-section{
            padding-top: 5rem;
        }

        button{
            width: 17rem;
            height: 3rem;
            font-size: smaller;
        }

        #fourth-btn{
            border-bottom: #e5e5e5 3px solid;
            padding-bottom: 2rem;
        }
        
        .first-mq{
            display: flex;
            flex-direction: row;
            gap: 5rem;
            margin-bottom: 10rem;
        }

        .first-mq article h3{
            font-size: small;
        }
        
        .first-mq article p{
            font-size: 1rem;
            line-height: normal;
        }

        #title-border{
            margin-top: -25px;
        }

        .big-mq{
            display: flex;
        }

        .big-mq p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .big-mq h3{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .big-mq h2{
            text-align: start;
            font-size: 1.5rem;
            line-height: normal;
        }

        .art-tsection{
            padding-top: 1rem;
        }

        .art-ssection{
            margin-bottom: 2rem;
        }

        .art-fsection div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }

        .art-fsection div p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .art-fsection h2{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            margin: 0rem;
        }

        .art-fsection img{
            border: #E5E5E5 5px solid;
            width: 90%;
        }

        .second-section .art-ssection img{
            border: #E5E5E5 5px solid;
        }

        .third-mq p{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .third-mq h2{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
            padding-bottom: 1rem;
        }

        .third-mq h3{
            text-align: start;
            font-size: 1rem;
            line-height: normal;
        }

        .art-tsection{
            padding-top: 2rem;
        }

        .global-footer-mq{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .footer-elmts p{
            padding-top: 0;
        }

        #form-flex{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        
        .footer-elmtn-global-mq{
            display: flex;
        }

        .social-info{
            gap: 1rem;
        }

        .social-info p{
            font-size: 1rem;
        }

        .social-info-icon i{
            font-size: small;
        }

        .social-info-icon{
            width: 2rem;
            height: 2rem;
        }

        footer form input{
            height: auto;
            font-size: 1rem;
        }

        footer form textarea{
            font-size: 1rem;
            width: 100%;
        }

        footer h2 br{
            display: none;
        }

        .footer-elmts p{
            font-size: 1rem;
        }

        footer h2{
            font-size: 1.5rem;
            padding-bottom: 3rem;
        }

        .end-footer{
            padding-bottom: 3rem;
        }

        .end-footer p{
            font-size: 1rem;
        }

        nav{
            margin-bottom: 5rem;
            margin-top: 2rem;
        }

        nav ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        nav ul li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        nav ul li a{
            text-decoration:none ;
            color: #888888;
            font-size: 0.8rem;
            font-family: 'Source 300';
            letter-spacing: 3px;
        }
        
        nav ul li div{
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 1px 4px #888888;
            background-color: #888888;
            border-radius: 25px;
            width: 2rem;
            height: 2rem;
        }


        nav ul li i{
            color: white;
            font-size: 1rem;
        }   

        #nav-Btn{
            display: none;
        }

        .sousmenu li{
            display: none;
        }

        #nav-Bar ul li a:hover{
            color: #ED786A
        }

        #nav-Bar ul li div:hover{
            background-color: #ED786A;
        }

        .hov p:hover{
            color: #ED786A;
        }

    }


    /* Liste de tous les éléments intégrés ne respectant pas le cahier de charges  */
    /* 

    --Desktop--
    - Dans le menu en version desktop les éléments au survol changent de couleur indépendamment
    - 

    --Tablette--
    - Les éléments du menu ne sont pas indentés comme demandé dans le cahier de charges
    -

    --Mobile--
    - Les éléments du menu ne sont pas indentés comme demandé dans le cahier de charges

    -